/* Navbar.css */

.navbar {
  align-items: center;
  background-color: var(--background-colour);
  padding: 24px var(--horizontal-padding-desktop);
  box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.1);
}
.navbar__toggle {
  display: none;
}

.navbar__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__paragraph {
  color: var(--secondary-font-colour);
}

.navbar__nav-items {
  display: flex;
  flex-direction: row;
}

.navbar__nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar__link {
  color: var(--secondary-font-colour);
  text-decoration: none;
  padding-right: 24px;
  font-size: 14px;
}

.navbar__sign-up-button {
  background-color: var(--highlight-colour);
  color: var(--font-colour);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 10px 37px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all 0.3s, color 0.3s;
}

.navbar__sign-up-button:hover {
  background-color: var(--font-colour);
  color: var(--highlight-colour);
}

/* Media queries for tablet */
@media screen and (max-width: 1024px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    flex-direction: column;
    padding: 20px var(--horizontal-padding-mobile);
  }

  .navbar__toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    align-self: self-end;
  }

  .navbar__content {
    display: none;
  }
  

  .navbar__line {
    width: 24px;
    height: 2px;
    background-color: var(--font-colour);
  }

  .navbar__toggle.open .navbar__toggle {
    margin-bottom:20px;
  }

  .navbar__toggle.open .navbar__line:first-child {
    transform: translateY(6px) rotate(45deg);
  }

  .navbar__toggle.open .navbar__line:last-child {
    transform: translateY(-12px) rotate(-45deg);
  }

  .navbar__toggle.open .navbar__line:nth-child(2) {
    opacity: 0;
  }


  .navbar__content.open {
    display: flex!important;
    flex-direction: column;
    margin-bottom:20px;
  }

  .navbar__nav-items {
    flex-direction: column;
    align-items: center;
  }

  .navbar__nav-item,
  .navbar__paragraph {
    margin-bottom: 50px;
    font-size: 16px;
  }

  .navbar__paragraph {
    align-self:center;
  }

  .navbar__nav-links {
    flex-direction: column;
  }

  .navbar__link {
    padding-right: 0 !important;
  }
}

/* Media queries for mobile */
@media screen and (max-width: 767px) {
}
