/*IntroSection.css*/

/* Global styles across three intro section files */
a {
  color: var(--highlight-colour);
  transition: all 0.3s;
}

a:hover {
  color: var(--secondary-font-colour);
}

.bold-text {
  font-weight: 700;
}

/* Intro section styles */
.intro-section {
  padding: 24px var(--horizontal-padding-desktop);
  background-color: var(--dark-background-colour);
}

/* Intro section wrapper styles */
.intro-section__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1023px;
  margin: 0 auto;
  justify-content: space-between;
}

/* Media queries for tablet */
@media screen and (max-width: 1024px) {
  .intro-section__wrapper {
    flex-direction: column;
    margin-top: 95px; /*margin for tablet to fit under fixed navbar*/
  }
}

/* Media queries for mobile */
@media screen and (max-width: 767px) {
  .intro-section {
    padding: 24px var(--horizontal-padding-mobile);
}
}
