/* IntroContent.css */

/* Intro content section styles */
.intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    max-width: 525px;
}

/* Intro content title styles */
.intro-content__title {
    color: var(--secondary-font-colour);
    padding-bottom: 20px;
}

/* Intro content description styles */
.intro-content__description {
    color: var(--secondary-font-colour);
}

/* Media queries for tablet */
@media screen and (max-width: 1024px) {
    .intro-content {
        padding-bottom: 40px;
        margin: 0 auto;
    }

    /* Center align title and description */
    .intro-content__title,
    .intro-content__description {
        text-align: center;
    }
}

/* Media queries for mobile */
@media screen and (max-width: 767px) {
    .intro-content {
        /* Adjust padding for mobile */
        padding: 24px var(--horizontal-padding-mobile);
    }
}
