/*PricingSection.css*/

.pricing-section {
  padding: 48px var(--horizontal-padding-desktop);
  background-color: var(--dark-background-colour);
}

.pricing-section__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1063px;
  margin: 0 auto;
}

.pricing-section__header {
  max-width: 748px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}

.pricing-section__title {
  padding-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .pricing-section {
    padding: 24px var(--horizontal-padding-mobile);
  }
  .pricing-section__cards {
    justify-content: center;
  }
}
